button{
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
  border-bottom: 2px solid $verde;
  padding-bottom: 5px;
  cursor: pointer;
}

button:hover{
  color: $verde;
}


